<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/webcomponentsjs/webcomponents.js">
<link rel="import" href="../bower_components/google-map/google-map.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="../bower_components/geo-location/geo-location.html">
<template>
    <google-map disable-default-ui zoom="15"></google-map>
    <script>
        var map = document.querySelector('google-map');
        map.latitude = 37.77493;
        map.longitude = -122.41942;
        map.addEventListener('google-map-ready', function (e) {
            alert('Map loaded!');
        });
    </script>
</template>